In [3]:
import pandas as pd
import numpy as np
from datetime import datetime
from dateutil import relativedelta
import math

In [4]:
df = pd.read_excel(r'D:\UP Vahan\Files Renamed\UP Chapter 4 - Results\4.2.3 Intt. on Addl Tax penalty calculation.xlsx',sheet_name='After tablaue')

In [5]:
df.columns

Index(['Office Name', 'Registration No.', 'Registration Date', 'Office Name.1',
       'Vehicle Class', 'Receipt Date', 'Tax From', 'Tax Upto', 'Purpose',
       'Payment Mode', 'Tax in (Rs.)', 'Rebate in (Rs.)', 'Penalty in (Rs.)',
       'Total in (Rs.)', 'Difference'],
      dtype='object')

In [6]:
df['J-I'] = (df['Tax Upto']- df['Tax From']).dt.days
df['K-I'] = (df['Receipt Date']- df['Tax From']).dt.days

In [7]:
df.dtypes

Office Name                  object
Registration No.             object
Registration Date            object
Office Name.1                object
Vehicle Class                object
Receipt Date         datetime64[ns]
Tax From             datetime64[ns]
Tax Upto             datetime64[ns]
Purpose                      object
Payment Mode                 object
Tax in (Rs.)                  int64
Rebate in (Rs.)               int64
Penalty in (Rs.)              int64
Total in (Rs.)                int64
Difference                  float64
J-I                         float64
K-I                         float64
dtype: object

In [8]:
df1 = df[df['Vehicle Class'] == 'Bus']
print(df1.shape)
df2 = df1[(df1['Tax From'] > "2016-04-01") & (df1['Tax From'] <= "2021-03-31")]
print(df2.shape)
df3 = df2[df2['J-I']>26]
print(df3.shape)
df4 = df3[(df3['K-I']>15)]
df4.reset_index()
print(df4.shape)

(20441, 17)
(20425, 17)
(20143, 17)
(19530, 17)

In [9]:
df4.dtypes

Office Name                  object
Registration No.             object
Registration Date            object
Office Name.1                object
Vehicle Class                object
Receipt Date         datetime64[ns]
Tax From             datetime64[ns]
Tax Upto             datetime64[ns]
Purpose                      object
Payment Mode                 object
Tax in (Rs.)                  int64
Rebate in (Rs.)               int64
Penalty in (Rs.)              int64
Total in (Rs.)                int64
Difference                  float64
J-I                         float64
K-I                         float64
dtype: object

In [12]:
delay = []
duration = []
for i in df4.index:
    du = round(df4.loc[i]['J-I']/30)
    duration.append(du)
    delta = relativedelta.relativedelta(df4.loc[i]['Receipt Date'], df4.loc[i]['Tax From'])
    if df4['Tax From'].dt.day[i]>15:
        if df4['Receipt Date'].dt.day[i]>15:
            de = delta.months + (delta.years*12)+ round(delta.days/30)
            delay.append(de)
        else:
            de = math.ceil(df4.loc[i]['K-I']/30)
            delay.append(de)
    else:
        if df4['Receipt Date'].dt.day[i]>15:
            de = delta.months + (delta.years * 12) + 1
            delay.append(de)
        else:
            de = delta.months + (delta.years * 12)+round(delta.days/30)
            delay.append(de)
df4['Duration'] = duration
df4['Delay'] = delay

C:\Users\CDMA\AppData\Local\Temp/ipykernel_17588/3373346469.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['Duration'] = duration
C:\Users\CDMA\AppData\Local\Temp/ipykernel_17588/3373346469.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['Delay'] = delay

In [11]:
k=12429
df4.loc[[k]]

,Office Name,Registration No.,Registration Date,Office Name.1,Vehicle Class,Receipt Date,Tax From,Tax Upto,Purpose,Payment Mode,Tax in (Rs.),Rebate in (Rs.),Penalty in (Rs.),Total in (Rs.),Difference,J-I,K-I,Duration,Delay
12429,KANPUR NAGAR(UP-78),UP78FT8958,2020-mar-11,KANPUR NAGAR(UP-78),Bus,2020-03-07,2020-02-10,2020-03-31,Additional MV Tax,RTO,70200,0,0,70200,26.0,50.0,26.0,2,1

In [69]:
k=1519
#k=12633
d1 = df4.loc[k]['Tax From']
d2 = df4.loc[k]['Receipt Date']

print(d1,d2)
# convert string to date object
start_date =d1
end_date = d2

# Get the relativedelta between two dates
delta = relativedelta.relativedelta(end_date, start_date)

# get months difference
res_months = delta.months + (delta.years * 12) + 1
print('Total Months between two dates is:', res_months)

2018-06-01 00:00:00 2018-06-27 00:00:00
Total Months between two dates is: 1

In [16]:
df4.at[12429, 'Delay']=1
df4.loc[[12429]]

,Office Name,Registration No.,Registration Date,Office Name.1,Vehicle Class,Receipt Date,Tax From,Tax Upto,Purpose,Payment Mode,...,Rebate in (Rs.),Penalty in (Rs.),Total in (Rs.),Difference,J-I,K-I,Duration,Delay,Interest,Penalty to be imposed
12429,KANPUR NAGAR(UP-78),UP78FT8958,2020-mar-11,KANPUR NAGAR(UP-78),Bus,2020-03-07,2020-02-10,2020-03-31,Additional MV Tax,RTO,...,0,0,70200,26.0,50.0,26.0,2,0,-15,-5265.0

In [20]:
df4[df4['Registration No.']=='UP14AT8189']
df4.at[7135,'Delay']

29

In [30]:
interest = []
for i in df4.index:
    de = df4.at[i,'Delay']
    du = df4.at[i,'Duration']
    

    if de>du:
        intst = 0
        k=de
        while(k>de-du): 
            intst = 5*k+intst
            k=k-1
    else:
        intst = 0
        k=de
        while(k>=1): 
            intst = 5*k+intst
            k=k-1
    if de>20: 
        intst = 1050 + ((de-20)*100)
    interest.append(intst)    
df4['Interest'] = interest
df4['Penalty to be imposed'] = ((df4['Total in (Rs.)']-df4['Penalty in (Rs.)'])/df4['Duration'])*(df4['Interest']/100)

C:\Users\CDMA\AppData\Local\Temp/ipykernel_17588/120384801.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['Interest'] = interest
C:\Users\CDMA\AppData\Local\Temp/ipykernel_17588/120384801.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['Penalty to be imposed'] = ((df4['Total in (Rs.)']-df4['Penalty in (Rs.)'])/df4['Duration'])*(df4['Interest']/100)

In [31]:
df4[df4['Penalty to be imposed']==0]

Empty DataFrame
Columns: [Office Name, Registration No., Registration Date, Office Name.1, Vehicle Class, Receipt Date, Tax From, Tax Upto, Purpose, Payment Mode, Tax in (Rs.), Rebate in (Rs.), Penalty in (Rs.), Total in (Rs.), Difference, J-I, K-I, Duration, Delay, Interest, Penalty to be imposed]
Index: []

[0 rows x 21 columns]

In [34]:
df4.to_csv(r'D:\UP Vahan\CDMA Results\4.2.3_Additional Tax Penalty_1.csv',index=False)