In [102]:
import pandas as pd
from sqlalchemy import create_engine
#'postgresql+psycopg2://user:password@hostname/database_name')
engine = create_engine('postgresql://postgres@10.247.204.254:5432/test_vow4')

In [36]:
meta_col_names = pd.read_sql_query('SELECT * FROM information_schema.columns',con=engine)
meta_tab_names = pd.read_sql_query('SELECT * FROM pg_catalog.pg_tables',con=engine)

In [94]:
user_n = 'SK101'
tab_chosen = 'vt_owner'
schemas_available= meta_tab_names[meta_tab_names['tablename']==tab_chosen]['schemaname']
schemas_available

54       hr_cag_data
121           vahan4
1435    vahanbacklog
Name: schemaname, dtype: object

In [95]:
schema_chosen = 'vahan4'
tab = schema_chosen+"."+tab_chosen

In [96]:
dict = {
    "pwd": ["pbkdf2:sha1:1000$x21fGj03$26c8edf960dbf08a032d8c353804670580352081","pbkdf2:sha1:1000$3HUNIx6f$f07970c8f0da9fe99653eb135e6e64a290eb7eff"],
    "state": ["up","delhi"],
    "code" : ["SK","DL"],
    "username" : ["SK101","DL101"]
  }
fd= pd.DataFrame.from_dict(dict)

In [97]:
 cols_in_chosen_table = meta_col_names[(meta_col_names['table_name']==tab_chosen) & (meta_col_names['table_schema']==schema_chosen) ]['column_name']

In [98]:
if 'state_cd' in set(cols_in_chosen_table):
    str = 'SELECT * from '+tab+' WHERE state_cd ='+"'{}'".format(fd[fd['username']==user_n]['code'][0])
else:
    str = 'SELECT * from '+tab

In [103]:
str

"SELECT * from vahan4.vt_owner WHERE state_cd ='SK'"

In [99]:
xyz = pd.read_sql_query(str,con=engine)

In [100]:
xyz.shape

(71464, 63)

In [101]:
xyz.head()

,state_cd,off_cd,regn_no,regn_dt,purchase_dt,owner_sr,owner_name,f_name,c_add1,c_add2,...,length,width,height,regn_upto,fit_upto,annual_income,imported_vch,other_criteria,status,op_dt
0,SK,1.0,SK01T1195,2007-02-01,2007-01-31,1.0,ANJU DEVI SHARMA,D.P.SHARMA,RAKDUNG,None,...,NaN,NaN,NaN,2012-01-09,2012-01-09,NaN,N,NaN,A,2013-01-15 00:00:00.000000
1,SK,1.0,SK01P5081,2015-12-07,2015-12-02,1.0,SONAM TSHERING SURKHANG,L.T TASHI NAMGYAL,TENZING AND TENZING,GTK,...,0.0,0.0,0.0,2030-12-06,2030-12-06,0.0,N,0.0,A,2017-03-23 14:17:16.545945
2,SK,1.0,SK01T2461,2016-03-10,2016-03-02,2.0,MINTU PRASAD,SANKER PRASAD,DENZONG CENEMA ROAD,GANGTOK,...,0.0,0.0,0.0,2018-03-09,2018-03-09,0.0,N,0.0,A,2017-03-23 15:09:53.044639
3,SK,1.0,SK01PB1500,2016-10-04,2016-08-26,1.0,DR. PRIYA DARSHINI PRADHAN,JORGAY BHUTIA,"NEAR SNOD PUMP, DEORALI",GANGTOK,...,0.0,0.0,0.0,2031-10-03,2031-10-03,0.0,N,0.0,Y,2016-10-04 09:58:50.785325
4,SK,1.0,SK01PB1866,2016-10-04,2016-09-02,1.0,RAM SINGH,RAM SWAROOP SINGH,6/VILL ARITHANG,ARITHANG,...,0.0,0.0,0.0,2031-10-03,2031-10-03,0.0,N,0.0,Y,2016-10-04 16:10:50.613179

In [ ]:
write.to